/* importing fonts */
@font-face {
  font-family: 'American Brewery Rough';
  src: url('/fonts/american-brewery-rough.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans 3';
  src: url('/fonts/open-sans-3.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pt Serif';
  src: url('/fonts/pt-serif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* global styles */
:root {
  --background: #f4e6cd;
  --foreground: #242124;
}

/* enable dark mode support
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans 3', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border: 1px solid black
}

/* navbar */
.custom-navbar {
  background-color: #A24E3C;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-solid {
  background-color: #A24E3C !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #F4E6CD;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
  color: #E09540;
  cursor: pointer;
}

.custom-navbar .nav-link.active {
  color: #F4E6CD;
  transition: color 0.3s ease;
}

.custom-navbar .navbar-toggler {
  border: none;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  display: flex;
  align-items: center;
}

.custom-navbar .navbar-toggler:focus,
.custom-navbar .navbar-toggler:active,
.custom-navbar .navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
  border:none;
}

/* offcanvas */
.custom-offcanvas {
  background-color: #A24E3C !important;
  color: #F4E6CD;
}

.custom-offcanvas .nav-link {
  color: #F4E6CD;
  transition: color 0.3s ease;
}

.custom-offcanvas .nav-link:hover,
.custom-offcanvas .nav-link:focus {
  color: #E09540;
  cursor: pointer;
}

.custom-offcanvas .nav-link.active {
  color: #F4E6CD;
  transition: color 0.3s ease;
}

/* homepage */

.homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.homepage-pic {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: fade 45s infinite;
}

#pic1 {
  background-image: url('/homepage-holder1.jpg');
  animation-delay: 0s;
}

#pic2 {
  background-image: url('/homepage-holder2.jpg');
  animation-delay: 15s; /* (8s visible + 4s fade) * 1 */
}

#pic3 {
  background-image: url('/homepage-holder3.jpg');
  animation-delay: 30s; /* (8s visible + 4s fade) * 2 */
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  22.22% {
    opacity: 1;
  }
  33.33% {
    opacity: 0;
  }
  88.88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homepage-overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  pointer-events: none;
}

.homepage-content {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* buttons */
.custom-button {
  background-color: #9b3e36;
  color: #faf4e9;
  border: none;
  transition: filter 0.3s ease;
  outline: none;
  box-shadow: none;
  user-select: none;
}

.custom-button:hover {
  background-color: #9b3e36 !important;
  filter: brightness(0.7);
}

.custom-button:active {
  filter: brightness(0.5);
}

.custom-button:focus {
  outline-offset: 2px;
}
