/* importing fonts */
@font-face {
  font-family: 'American Brewery Rough';
  src: url('/fonts/american-brewery-rough.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans 3';
  src: url('/fonts/open-sans-3.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pt Serif';
  src: url('/fonts/pt-serif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* global styles */
:root {
  --background: #f4e6cd;
  --foreground: #242124;
}

/* enable dark mode support
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans 3', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

/* navbar */
.custom-navbar {
  background-color: #A24E3C;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-solid {
  background-color: #A24E3C !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.footer-link {
  color: #F4E6CD;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus,
.footer-link:hover{
  color: #E09540;
  cursor: pointer;
}

.custom-navbar .nav-link:active{
  color: #F4E6CD;
  transition: color 0.3s ease;
}

.custom-navbar .navbar-toggler {
  border: none;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  display: flex;
  align-items: center;
}

.custom-navbar .navbar-toggler:focus,
.custom-navbar .navbar-toggler:active,
.custom-navbar .navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
  border:none;
}

/* offcanvas */
.custom-offcanvas {
  background-color: #A24E3C !important;
  color: #F4E6CD;
}

.custom-offcanvas .offcanvas-title {
  font-family: 'American Brewery Rough';
  color: #F4E6CD;
  transition: color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.custom-offcanvas .offcanvas-title:hover,
.custom-offcanvas .offcanvas-title:focus {
  color: #E09540;
}

.custom-offcanvas .nav-link {
  color: #F4E6CD;
  transition: color 0.3s ease;
}

.custom-offcanvas .nav-link:hover,
.custom-offcanvas .nav-link:focus {
  color: #E09540;
  cursor: pointer;
}

.custom-offcanvas .nav-link.active {
  color: #F4E6CD;
  transition: color 0.3s ease;
}

/* homepage */

.homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.homepage-pic {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: fade 45s infinite;
}

#pic1 {
  background-image: url("/images/homepage-holder1.jpg");
  animation-delay: 0s;
}

#pic2 {
  background-image: url("/images/homepage-holder2.jpg");
  animation-delay: 15s; 
}

#pic3 {
  background-image: url("/images/homepage-holder3.jpg");
  animation-delay: 30s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  22.22% {
    opacity: 1;
  }
  33.33% {
    opacity: 0;
  }
  88.88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homepage-overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 33, 36, 0.6);
  z-index: 5;
  pointer-events: none;
}

.homepage-content {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* about us */
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  text-align: left;
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

.about-image {
  width: 50%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.about-text-container {
  width: 60%;
}

.about-title {
  font-family: 'Pt Serif';
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #242124;
}

.about-text {
  line-height: 1.5;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

/* swap meet */
.stand-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* footer */
.custom-footer {
  background-color: #5C4033;
  color: #F4E6CD;
  text-align: center;
}

/* buttons */
.custom-button {
  background-color: #9b3e36;
  color: #faf4e9;
  border: none;
  transition: filter 0.3s ease;
  outline: none;
  box-shadow: none;
  user-select: none;
}

.custom-button:hover {
  background-color: #9b3e36 !important;
  filter: brightness(0.9);
}

.custom-button:active {
  filter: brightness(0.75);
}

.custom-button:focus {
  outline-offset: 2px;
}

/* plant card */
.plant-card {
  background-color: #d6c6a8;
  border-radius: 12px;
  width: 100%;
  max-width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.plant-image {
  width: 70%;
  height: auto;
  border-radius: 12px;
}

.plant-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(36, 33, 36, 0.6);
  transition: 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.plant-card:hover .plant-overlay {
  opacity: 1;
  cursor: pointer;
}

/* plant card modal */
.custom-modal-content {
  background-color: #d6c6a8;
  border-radius: 15px;
  border: none;
  padding: 0;
}

.custom-modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.plant-modal-body {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.plant-modal-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plant-modal-img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.plant-modal-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* slick slider */
.slick-prev::before,.slick-next::before{
   display:none;
    
}

.slick-dots li button:before {
  color: #E09540 !important;
  opacity: 0.6 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
}

/* responsive elements */
/* tablets */
@media (max-width: 768px) {
  .about-title {
    font-size: 2rem;
  }
  .about-text {
    font-size: 1rem;
  }
}

/* mobile phones */
@media (max-width: 480px) {
  .about-title {
    font-size: 1.5rem;
  }
  .about-text {
    font-size: 0.8rem;
  }
}